# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Мои документы\Програмування\Logos\JS Core\6_MouseEvent, addEventListener, об'єкт події, прив'язка подій\Lecture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
